.character-card {
    list-style: none;
    box-shadow: 0 0 5px 10px ghostwhite;


    .image-container {
      width: 100px;
      height: 100px;
      position: relative;
    }
    .profile-img, .char-img-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .profile-img {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  .char-img-frame {
    background-image: url("https://i.pinimg.com/originals/c2/4c/3b/c24c3b8b9736830196a12d19096b1c31.png");
  }
}
