.character-card {
    list-style: none;
    background-color: ghostwhite;
    box-shadow: 0 0 5px 10px ghostwhite;

    .image-container {
      width: 100px;
      height: 100px;
      position: relative;
    }
    .profile-image, .char-img-frame {
      height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  .profile-image {
    width: 100%;
    overflow: hidden;
  }
  .char-img-frame {
    background-image: url("https://i.pinimg.com/originals/c2/4c/3b/c24c3b8b9736830196a12d19096b1c31.png");
    background-size: 100% 100%;
  }
}
