.character-container {
  width: 45%;
  float: right;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Parchment.00.jpg/797px-Parchment.00.jpg");
  background-size: 100% 100%;
  margin-right: 20px;
  img {
    display: block;
    width: auto;
    height: auto;
    margin: 20px auto;
    max-height: 400px;
    border-radius: 50%;
  }
}

.no-go {
  font-weight: bolder;
  border-radius: 4px;
  padding: 5px 2px;
  color: red;
  font-family: 'Special Elite', cursive;
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
}