.main-events {
  background-color: oldlace;
  border: 2px darkgoldenrod solid;
  color: darkgrey;

  .events-container {
    background-color: ghostwhite;
    border: 1px grey solid;
    color: black;
    margin-bottom: 5px;

  }
}