.button-container {
  padding-top: 50px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  .event-btn {
    font-family: 'Special Elite', cursive;
    box-shadow: 3px 7px 10px 0px rgba(0,0,0,0.75);
    background-image: url("https://thumbs.dreamstime.com/t/gold-metal-plaque-nameboard-rivets-background-54120817.jpg");
    border: 5px solid darkgoldenrod;
    font-weight: bolder;
    margin-top: 10px;
  }
}

.ReactModal__Overlay .ReactModal__Overlay--after-open {
  z-index: 0;
}
