.introParagraph {
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  font-weight: bold;
  background-image: url(https://www.publicdomainpictures.net/pictures/70000/velka/old-parchment.jpg);
  border-radius: 5px;
  background-size: contain;
  padding-top: 15px;
}

.linkTo {
  font-family: "Gaegu";
  color: black;
  font-size: 3em;
}
