.introParagraph {
  margin-top: 25px;
  border-radius: 50px 10px;
  padding: 80px 50px 75px 50px;
  box-shadow: 3px 7px 10px 0px rgba(0,0,0,0.75);
  background-image: url("https://www.publicdomainpictures.net/pictures/40000/velka/background-1366644919rfW.jpg");
  background-size: 100% 100%;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 1.3em;
  text-indent: 2em;
}

.link-style {
  color: antiquewhite;
  font-size: 2em;
}