.profile-image-container {
  width: 100px;
  height: 100px;
  position: relative;
}
.player-profile-picture,
.picture-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.picture-frame {
  z-index: 11;
  background-image: url("https://img00.deviantart.net/968d/i/2016/360/f/f/printed_antique_paper_frame_2_by_victorian_lady-dagzxuh.png");
}