.form-container {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Parchment.00.jpg/797px-Parchment.00.jpg");
  background-size: 100% 100%;
  padding: 25px 0 25px 50px;

}
.diceBtn {
  width: 60px;
  height: 50px;
  span img {
    width: 100%;
    height: 100%;
    transition: transform .8s ease-in-out;
  }

  span img:hover {
    transform: rotate(360deg);
  }
}
