.navbar {
  background-image: url('../../images/image\ \(8\).png');
  background-size: cover;
  box-shadow: 3px 7px 10px 0px rgba(0,0,0,0.75);

  .btn {
    margin-top: 15px;
    background-image: url('../../images/gem.jpg');
    background-size: cover;
    color: ghostwhite;
  }
}