.navbar-inverse .navbar-toggle .test-icon  {
  background-color: #fff;
  background:  url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Dharmacakra.svg/600px-Dharmacakra.svg.png) center;
}
.navbar-toggle .test-icon {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}