.death-container {
  background-image: url("https://www.maxpixel.net/static/photo/1x/Skeleton-Weird-Cross-Bone-Bones-Steampunk-Skull-1515874.jpg") no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: 'Creepster', cursive;
    font-size: 6em;
    color: maroon;
  }
}